/* -----------------
  GNB
  ----------------- */

// 하위 메뉴가 없는 GNB - type01
.gnb01 {
  min-width: $container-width;
  .header {
    position: relative;
    border-bottom: 1px solid #cccccc;
    h1 {
      position: absolute;
      left: 0;
      top: 0;
      padding: 0 0 0 2.6rem;
      a {
        display: block;
        width: 9.9rem;
        height: 6.9rem;
        background: url(../img/h1_logo0.png) no-repeat center;
      }
    }
    nav ul {
      text-align: center;
      font-size: 0;
      li {
        display: inline-block;
        a {
          display: block;
          padding: 0 4.7rem;
          line-height: 6.9rem;
          font-size: 1.8rem;
          color: #000000;
        }
      }
    }
    .util {
      position: absolute;
      right: 0;
      top: 0;
      @include clearfix;
      .left-box {
        display: block;
        float: left;
        font-size: 0;
        span {
          display: inline-block;
          position: relative;
          & ~ span {
            margin-left: 0.3rem;
            &::before {
              content: "";
              @include position($t: 0, $b: 0, $l: -0.3rem);
              display: block;
              width: 1px;
              height: 0.9rem;
              margin: auto 0;
              background: #aaaaaa;
            }
          }
          a {
            display: block;
            padding: 0 18px;
            line-height: 69px;
            font-size: 12px;
            color: #333333;
          }
        }
      }
      .right-box {
        float: left;
        button {
          width: 6rem;
          height: 6.9rem;
          background: url(../img/btn_search.png) no-repeat center #043285;
        }
      }
    }
  }
}

// 하위 메뉴가 세로형인 GNB - type02
.gnb02 {
  min-width: 130rem;
  .header {
    padding: 0 5rem;
    border-bottom: 1px solid #cccccc;
    @include clearfix;
    h1 {
      float: left;
      padding-top: 1.1rem;
      a {
        display: block;
        width: 9.9rem;
        height: 4.5rem;
        background: url(../img/h1_logo.png) no-repeat;
      }
    }
    .right-box {
      float: right;
      .gnb {
        float: left;
        .depth1-wrap {
          @include clearfix;
          .depth1 {
            float: left;
            margin-left: 0.5rem;
            &.on {
              overflow: visible;
              > a {
                color: #ffffff;
                background: #315665;
              }
              .depth2-wrap {
                height: auto;
                padding: 2rem 0;
              }
            }
            > a {
              display: block;
              padding: 0 2rem;
              line-height: 6.9rem;
              font-size: 1.8rem;
              color: #000;
              font-weight: bold;
              transition: all 0.2s;
            }
            .depth2-wrap {
              // hover로 구현했을 때 : 탭으로 이동이 안됨
              // opacity: 0;
              // visibility: hidden;
              // display: none;
              transition: all 0.4s;
              height: 0;
              overflow: hidden;
              position: absolute;
              min-width: 10.625rem;
              padding: 0;
              background: #315665;
              color: #fff;
              .depth2 {
                a {
                  display: block;
                  padding: 0 2rem;
                  font-size: 1.6rem;
                  line-height: 3rem;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .util {
        float: left;
        padding-top: 1.7rem;
        font-size: 0;
        a,
        button {
          display: inline-block;
          position: relative;
          padding: 1rem 2rem;
          font-size: 14px;
          vertical-align: middle;
          &:after {
            content: "";
            display: block;
            @include position($t: 0, $b: 0, $l: 0);
            width: 1px;
            height: 0.9rem;
            margin: auto 0;
            background: #aaaaaa;
          }
        }
        .lang {
          position: relative;
          padding-left: 5rem;
          font-size: 1.6rem;
          &:before {
            content: "";
            @include position($t: 50%, $b: 0, $l: 2rem);
            transform: translateY(-50%);
            display: inline-block;
            width: 2.4rem;
            height: 2.3rem;
            background: url(../img/ico_lang.png) no-repeat center;
          }
        }
        button {
          width: 6.8rem;
          height: 3.2rem;
          background: url(../img/ico_menu.png) no-repeat center;
        }
      }
    }
  }
}

// 하위 메뉴가 가로형인 GNB - type03
.gnb03 {
  min-width: $container-width;
  .header {
    padding: 0 5rem;
    border-bottom: 1px solid #cccccc;
    .container {
      position: relative;
      .logo {
        @include position($l: 0, $align: v);
        a {
          display: block;
          width: 7rem;
          height: 5.7rem;
          background: no-repeat center/100% url(/img/even_px.png);
        }
      }
      .gnb {
        text-align: center;
        font-size: 0;
        > ul {
          display: inline-block;
          @include clearfix;
          > li {
            float: left;
            > a {
              display: block;
              padding: 0 2rem;
              line-height: 9.9rem;
              font-size: 1.8rem;
              color: #043874;
              span {
                display: inline-block;
                position: relative;
                line-height: 2;
                &:before {
                  content: "";
                  @include position($t: 0, $r: -1rem);
                  width: 0.7rem;
                  height: 1rem;
                  background: url(../img/ico_rain.png) no-repeat center;
                  transition: all 0.2s;
                }
                &:after {
                  content: "";
                  @include position($b: -0.4rem, $l: 0, $r: 0);
                  height: 0.4rem;
                  background: #3ac1d3;
                  transition: all 0.2s;
                }
                &:before,
                &:after {
                  opacity: 0;
                }
              }
            }
            .depth2-wrap {
              height: 0;
              overflow: hidden;
              @include position($z: 100);
              .depth2 {
                opacity: 0;
                transition: all 0.3s;
                li {
                  float: left;
                  a {
                    display: block;
                    padding: 0 2rem;
                    line-height: 6.2rem;
                    font-size: 1.6rem;
                    color: #ffffff;
                    &:hover {
                      color: #e4f893;
                    }
                  }
                }
                &.on {
                  opacity: 1;
                }
              }
              &.on {
                height: auto;
                overflow: visible;
              }
            }
            &:last-child {
              .depth2 {
                margin-left: -27rem;
              }
            }
            &:hover span:before,
            &:hover span:after {
              opacity: 1;
            }
          }
        }
      }
      .util {
        @include position($r: 0, $align: v);
        a {
          display: block;
          width: 2.9rem;
          height: 3.2rem;
          background: url(../img/ico_member.png) no-repeat center;
          background-size: 70%;
        }
      }
    }
  }
  .gnb-bg {
    display: none;
    @include position($l: 0, $r: 0);
    height: 6.2rem;
    background: linear-gradient(to right, #38cebb, #3db1ed);
  }
  &.ie9 .gnb-bg {
    background: #38cebb;
  }
}

// 하위 메뉴가 일체형인 GNB - type04
.gnb04 {
  .header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #ffffff;
    .container {
      position: relative;
      margin: 0 5rem;
      .logo {
        @include position($l: 0, $align: v);
        a {
          display: block;
          width: 7rem;
          height: 5.7rem;
          background: no-repeat center/100% url(/img/even_px.png);
        }
      }
      .gnb {
        text-align: center;
        font-size: 0;
        a {
          display: block;
          letter-spacing: -0.025em;
        }
        .depth1 {
          display: inline-block;
          > li {
            position: relative;
            float: left;
            width: 16.5rem;
            > a {
              line-height: 8.5rem;
              font-size: 1.8rem;
              color: #222222;
              transition: color 0.2s;
            }
            &:hover > a {
              color: #e6223e;
            }
            .depth2-wrap {
              height: 0;
              overflow: hidden;
              @include position($l: 0, $z: 100);
              width: 100%;
              // height로 제어할 경우 padding을 같이 쓰면 안됨(slideDown,Up을 쓰지 않고 // height로 제어하는 이유는 back-tab 때문
              // padding: 16px 20px;
              border-left: 1px solid #d7d7d7;
              text-align: left;
              transition: height 0.3s;
              .depth2 {
                padding: 1.6rem 2rem;
                opacity: 0;
                transition: opacity 0.3s;
                > li {
                  > a {
                    line-height: 4rem;
                    font-size: 1.5rem;
                  }
                  .depth3 {
                    > li {
                      > a {
                        line-height: 2.6rem;
                        font-size: 1.3rem;
                        color: #6a6a6a;
                      }
                    }
                  }
                }
              }
            }
            &.wide {
              width: 22rem;
              .depth2 {
                width: 50%;
                float: left;
              }
            }
            &:last-child .depth2-wrap {
              border-right: 1px solid #d7d7d7;
            }
            &.on {
              .depth2-wrap {
                height: 43rem;
                .depth2 {
                  opacity: 1;
                }
              }
            }
            &:hover .depth2-wrap {
              background: #ffffff;
            }
          }
        }
      }
      .util {
        @include position($r: 0, $align: v);
        font-size: 1.6rem;
      }
    }
    &:after {
      content: "";
      @include position($r: 0, $b: 0, $l: 0, $z: -1);
      height: 2px;
      background: linear-gradient(to right, #e94e66, #f08925);
    }
  }
  &.ie9 header:after {
    background: #e94e66;
  }
  .gnb-bg {
    @include position($r: 0, $l: 0);
    height: 0;
    background: #ececec;
    transition: height 0.3s;
    &.on {
      height: 43rem;
      border-bottom: 1px solid #d7d7d7;
    }
  }
}
