/* -----------------
  SNB
  ----------------- */

// 하위 메뉴가 없는 사이드 배치형 SNB - type01
.snb01 {
  .header {
    min-width: $container-width;
  }
  .snb {
    width: 23.5rem;
    .snb-tit {
      background: url(/img/bg_snb.png) no-repeat center;
      line-height: 14.2rem;
      text-align: center;
      font-size: 2.7rem;
      color: #ffffff;
    }
    .snb-lst {
      background: #ffffff;
      li {
        a {
          display: block;
          position: relative;
          padding: 0 2.5rem;
          line-height: 6rem;
          font-size: 1.7rem;
          font-weight: 100;
          color: #706f6f;
          &:before {
            content: "";
            display: block;
            @include position($align: v, $r: 0px);
            width: 1rem;
            height: 2px;
            background: #e42929;
            opacity: 0;
            transition: all 0.3s;
          }
          &:hover,
          &:focus,
          &.on {
            color: #e42929;
            &:before {
              right: 2.5rem;
              opacity: 1;
            }
          }
        }
        & ~ li {
          border-top: 1px solid #e2e2e2;
        }
      }
    }
  }
  .fixed ~ .main {
    padding-top: 8.5rem;
  }
  .main .container {
    padding-top: 5rem;
  }
}

// 하위 메뉴가 아래로 펼쳐지는 사이드 배치형 SNB - type02
.snb02 {
  .header {
    min-width: $container-width;
  }
  .snb {
    width: 24rem;
    .snb-tit {
      line-height: 6rem;
      text-align: left;
      font-size: 2.3rem;
      color: #000000;
    }
    .snb-lst {
      border: 1px solid #dddddd;
      border-bottom: 0;
      a {
        display: block;
        font-weight: 100;
      }
      > li {
        border-bottom: 1px solid #dddddd;
        > a {
          padding: 0 2rem;
          background: #c9c9c9;
          line-height: 5.6rem;
          font-size: 1.7rem;
          color: #000000;
          &.more {
            position: relative;
            &:before {
              content: "";
              display: block;
              @include position($align: v, $r: 2rem);
              width: 3rem;
              height: 3rem;
              background-image: url(/img/ico_arrow_down.png);
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
        > ul {
          display: none;
          padding: 1.5rem 0;
          background: #ffffff;
          border-top: 1px solid #dddddd;
          > li {
            a {
              padding: 0 3rem;
              line-height: 3rem;
              &:before {
                content: "";
                display: inline-block;
                width: 0.4rem;
                height: 1px;
                margin: 0 0.5rem 0 0;
                background: #000000;
                vertical-align: 0.3rem;
              }
            }
          }
        }
        &.active {
          > ul {
            display: block;
          }
          > a {
            background: #c62646;
            color: #ffffff;
          }
        }
        &.on {
          .more {
            &:before {
              background-image: url(/img/ico_arrow_up.png);
            }
          }
        }
      }
    }
  }
  .fixed ~ .main {
    padding-top: 8.5rem;
  }
  .main .container {
    padding-top: 5rem;
  }
}

// 하위 메뉴가 옆으로 펼쳐지는 사이드 배치형 SNB - type03
.snb03 {
  .header {
    position: fixed;
    @include position($type: fixed, $t: 0, $b: 0, $l: 0);
    width: 18rem;
    padding: 7rem 0;
    background: #1b3b86;
    text-align: center;
    color: #ffffff;
    .logo {
      a {
        display: inline-block;
        width: 10.7rem;
        height: 5.5rem;
        background: url(/img/h1_logo4.png) no-repeat center;
      }
    }
    .snb {
      a {
        display: block;
      }
      > ul {
        margin: 2rem 0 0;
        > li {
          > a {
            text-align: center;
            font-size: 1.6rem;
            color: #aecbff;
            line-height: 5.5rem;
            transition: all 0.3s;
            &:hover {
              font-size: 2rem;
            }
          }
          .depth2-wrap {
            @include position($t: 0, $b: 0, $l: 18rem);
            width: 0;
            overflow: hidden;
            background: rgba(27, 59, 134, 0.85);
            > ul {
              display: flex;
              flex-wrap: wrap;
              @include position;
              width: calc(100% - 8rem);
              opacity: 0;
              transition: opacity 0.3s;
              > li {
                width: 25%;
                padding: 3.3rem 0;
                a {
                  padding: 0 0 0 1.5rem;
                  font-size: 1.4rem;
                  text-align: left;
                  font-weight: 100;
                }
                > a {
                  background: url(/img/bu_arrow_right.png) no-repeat left center;
                  font-size: 1.5rem;
                  color: #aecbff;
                }
                > ul {
                  padding: 1rem 0 0;
                  a {
                    line-height: 3rem;
                    color: #ffffff;
                  }
                }
                &:nth-child(5n):before {
                  content: "";
                  @include position($l: 0, $r: 0);
                  transform: translateY(-3rem);
                  border-top: 1px dashed #697dad;
                }
              }
            }
          }
          &.on .depth2-wrap {
            width: 78rem;
            padding: 0 4rem;
            > ul {
              opacity: 1;
            }
          }
        }
      }
    }
    .util {
      @include position($b: 7rem, $l: 0, $r: 0);
      button {
        width: 4rem;
        height: 4rem;
        background: url(/img/ico_search.png) no-repeat center;
      }
      a {
        display: block;
        line-height: 4rem;
        font-size: 1.3rem;
        color: #aecbff;
      }
    }
  }
  &.ie9 {
    .depth2-wrap {
      > ul {
        @include clearfix;
        > li {
          float: left;
        }
      }
    }
  }
  .main .title {
    line-height: 100vh;
  }
}

// 브레드크럼형 SNB - type04
.snb04 {
  .header {
    width: 100%;
    height: 100px;
    margin: 0 auto 30px;
    background: tomato;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
  }
  .main {
    .location {
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      background: #f6f6f6;
      nav {
        > ul {
          display: flex;
          > li {
            border-right: 1px solid #eeeeee;
            button {
              padding: 0 4rem 0 2rem;
              background-image: url(/img/bu_arrow_down.png);
              background-repeat: no-repeat;
              background-position: right 2rem center;
              font-size: 1.6rem;
              line-height: 4.6rem;
              &.on {
                background-image: url(/img/ico_arrow_up.png);
                background-size: 1.2rem;
                color: #ec018c;
              }
            }
            > ul {
              display: none;
              @include position;
              min-width: 15rem;
              padding: 0.5rem;
              background: #ffffff;
              border: 1px solid #eeeeee;
              border-radius: 0.4rem;
              > li {
                a {
                  display: block;
                  padding: 0 1.5rem;
                  border-radius: 0.4rem;
                  font-size: 1.5rem;
                  line-height: 3rem;
                  &:hover,
                  &:focus {
                    background: #eeeeee;
                  }
                }
              }
            }
          }
          .home {
            border-left: 1px solid #eeeeee;
            a {
              display: block;
              width: 4.6rem;
              height: 4.6rem;
              background: url(/img/ico_home.png) no-repeat center;
            }
          }
        }
      }
    }
    > .container {
      background: skyblue;
    }
  }
  &.ie9 {
    .location {
      nav {
        > ul {
          @include clearfix;
          > li {
            float: left;
          }
        }
      }
    }
  }
}

// 탭 메뉴형 SNB - type05
.snb05 {
  .header,
  .visual {
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    line-height: 20rem;
  }
  .container {
    background: none;
  }
  .snb {
    .snb-box {
      padding: 5rem;
      margin: -4rem auto 7.4rem;
      background: #ffffff;
      box-shadow: 0 0.7rem 1.9rem 0.4rem rgba(0, 0, 0, 0.2);
      ul {
        padding: 0 14rem;
        @include clearfix;
        li {
          float: left;
          padding: 0 6rem 0 0;
          a {
            display: block;
            position: relative;
            z-index: 1;
            line-height: 9rem;
            font-size: 2.4rem;
            &:before {
              content: "";
              display: block;
              @include position($align: v, $r: calc(100% - 3rem), $z: -1);
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
              background: #84d7e3;
              opacity: 0;
              transition: all 0.2s;
            }
            &:hover,
            &.on {
              &:before {
                opacity: 1;
                right: 0;
              }
            }
          }
        }
      }
    }
  }
  .main .contents {
    background: #f4f5f6;
    .title {
      line-height: 100vh;
    }
  }
}
